{% extends 'base.html' %}

{% block head_title %}{% block page_title %}{% block breadcrumb %}
Dashboard
{% endblock %}{% endblock %}{% endblock %}


{% block content %}

<div class="row">
    {% if not request.user.is_authenticated %}
    <div class="col-md-12">
        <div class="alert alert-warning text-center" role="alert">
            Please log in to get access the site!
        </div>
    </div>
    {% else %}
    <div class="col-md-12">
        <div class="alert alert-success text-center" role="alert">
            <h2>Welcome to theZoo !</h2>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}