<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block head_title %}theZoo{% endblock %} | theZoo - The Zoo Management System
    </title>
    {% include 'components/meta-tags.html' %}
    {% include 'components/styles.html' %}
    {% include 'components/head-scripts.html' %}
</head>

<body class="app sidebar-mini rtl">

    {% include 'components/navbar.html' %}

    <main class="app-content">

        {% include 'snippets/messages.html' %}

        {% block content %}{% endblock %}

    </main>

    {% include 'snippets/logout-modal.html' %}

    {% include 'components/scripts.html' %}

</body>

</html>