

<div class="table-responsive">
    <table id="DataTable" class="cell-border hover table-bordered table-hover text-center" style="width:100%">
        <thead>
            <tr class="text-muted">
                <th>#</th>
                {% for key, value in fields.items %}
                {% if key != 'id' and key != 'slug' and key != 'created_at' and key != 'updated_at' %}
                <th>{{ value|title }}</th>
                {% endif %}
                {% endfor %}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for object in list_objects %}
            <tr class="text-dark">
                <th scope="row">{{ forloop.counter }}</th>

                {% for label, value in object.get_fields %}

                {% if label != 'id' and label != 'slug' and label != 'created_at' and label != 'updated_at' %}
                
                {% if label in 'image, photo, picture' %}

                <td>
                {% if not value.url == None %}
                
                <img src="{{ value.url }}" alt="{{ value }}" style="height:100px;width:100px;">
                
                {% else %}
                ---
                {% endif %}
                </td>

                {% elif label in 'country' %}
                <td>
                    {{ value.name }}
                </td>

                {% else %}
                <td>{{ value }}</td>
                {% endif %}

                {% endif %}

                {% endfor %}

                <td>
                    <a href="{% url update_url id=object.id %}" class="btn btn-primary btn-sm text-deco-none">
                        <span class="">
                            Edit
                        </span>
                    </a>

                    <button type="button"
                        class="btn btn-danger btn-sm text-deco-none bg-c-danger m-1 js_delete_{{namespace}}"
                        value="{{object.id}}" data-toggle="modal" data-target="#modal-delete-{{namespace}}">
                        Delete
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="{{fields_count}} - 1" class="text-center">
                    <div class="alert alert-warning">
                        No item found!
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="text-center text-muted">
                <th>#</th>
                {% for key, value in fields.items %}
                {% if key != 'id' and key != 'slug' and key != 'created_at' and key != 'updated_at' %}
                <th>{{ value|title }}</th>
                {% endif %}
                {% endfor %}
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>


{% block extra_js %}

<script>
    $(document).ready(function () {
        $('#DataTable').DataTable({
            destroy: true,
            "ordering": false,
            "scrollCollapse": true,
            "stateSave": true,
            "pagingType": "full_numbers",
        });
    });
</script>

{% endblock %}