{% load static %}


<!-- Essential javascripts for application to work-->
<!-- <script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script> -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'custom/js/custom.js' %}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{% static 'js/plugins/pace.min.js' %}"></script>
<!-- Extra Plugins and Utils CSS-->
<script src="{% static 'plugins/bootstrap-validator/validator.js' %}"></script>
<script src="{% static 'plugins/datetimepicker/jquery.datetimepicker.js' %}"></script>
<script src="{% static 'plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'plugins/jquery-datatable/dataTables.min.js' %}"></script>