{% load static %}
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
	<div class="app-sidebar__user">
		<img class="app-sidebar__user-avatar" style="width: 50px; height: 50px;" {% if request.user.user_staff.image %}
			src="{{ request.user.user_staff.image.url }}" {% else %} src="{% static 'images/icon/avatar.png' %}"
			{% endif %} alt="{{ request.user.username }}">
		<div>
			<p class="app-sidebar__user-name">
				{{ request.user.user_staff.get_name }}
			</p>
			<p class="app-sidebar__user-designation">
				{{ request.user.user_staff.role }}
			</p>
		</div>
	</div>
	<ul class="app-menu">
		<li>
			<a class="app-menu__item" href="{% url 'home' %}">
				<i class="app-menu__icon fa fa-laptop"></i>
				<span class="app-menu__label">
					Dashboard
				</span>
			</a>
		</li>
		{% if high_level_staff %}
		<li>
			<a class="app-menu__item" href="{% url 'report:report_view' %}">
				<i class="icon fa fa-plus m-2"></i>
				<span class="app-menu__label">
					View Reports
				</span>
			</a>
		</li>
		{% endif %}
		<li class="treeview">
			<a class="app-menu__item" href="#" data-toggle="treeview">
				<i class="app-menu__icon fa fa-user m-2"></i>
				<span class="app-menu__label">
					Staff
				</span>
				<i class="treeview-indicator fa fa-angle-right"></i>
			</a>
			<ul class="treeview-menu">
				{% if high_level_staff %}
				<li>
					<a class="treeview-item" href="{% url 'staff:add_staff' %}">
						<i class="icon fa fa-plus m-2"></i>
						Add Staff
					</a>
				</li>
				{% endif %}
				{% if low_level_staff %}
				<li>
					<a class="treeview-item" href="{% url 'staff:list_staff' %}">
						<i class="icon fa fa-plus m-2"></i>
						View Staffs
					</a>
				</li>
				{% endif %}
			</ul>
		</li>

		{% if high_level_staff %}
		
		<li class="treeview">
			<a class="app-menu__item" href="#" data-toggle="treeview">
				<i class="app-menu__icon fa fa-cogs m-2"></i>
				<span class="app-menu__label">
					Setup
				</span>
				<i class="treeview-indicator fa fa-angle-right"></i>
			</a>
			<ul class="treeview-menu">
				{% if high_level_staff %}
				<li>
					<a class="treeview-item" href="{% url 'maintenance:add_equipment' %}">
						<i class="icon fa fa-plus m-2"></i>
						Add Equipment
					</a>
				</li>
				{% endif %}
				{% if high_level_staff %}
				<li>
					<a class="treeview-item" href="{% url 'maintenance:add_equipment_set' %}">
						<i class="icon fa fa-plus m-2"></i>
						Add Equipment Set
					</a>
				</li>
				{% endif %}
				{% if high_level_staff %}
				<li>
					<a class="app-menu__item" href="{% url 'maintenance:add_cage' %}">
						<i class="icon fa fa-plus m-2"></i>
						<span class="app-menu__label">
							Add Cage
						</span>
					</a>
				</li>
				{% endif %}
				{% if high_level_staff %}
				<li>
					<a class="app-menu__item" href="{% url 'animal:add_species' %}">
						<i class="icon fa fa-plus m-2"></i>
						<span class="app-menu__label">
							Add Species
						</span>
					</a>
				</li>
				{% endif %}
				{% if high_level_staff %}
				<li>
					<a class="app-menu__item" href="{% url 'animal:add_health_point' %}">
						<i class="icon fa fa-plus m-2"></i>
						<span class="app-menu__label">
							Add Health Point
						</span>
					</a>
				</li>
				{% endif %}
				{% if high_level_staff %}
				<li>
					<a class="app-menu__item" href="{% url 'food:add_food' %}">
						<i class="icon fa fa-plus m-2"></i>
						<span class="app-menu__label">
							Add Food
						</span>
					</a>
				</li>
				{% endif %}
				{% if high_level_staff %}
				<li>
					<a class="app-menu__item" href="{% url 'health:add_medicine' %}">
						<i class="icon fa fa-plus m-2"></i>
						<span class="app-menu__label">
							Add Medicine
						</span>
					</a>
				</li>
				{% endif %}
			</ul>
		</li>

		<hr>

		{% endif %}

		{% if low_level_staff %}
		<li>
			<a class="app-menu__item" href="{% url 'animal:add_animal_cage' %}">
				<i class="icon fa fa-plus m-2"></i>
				<span class="app-menu__label">
					Animal in Cage
				</span>
			</a>
		</li>
		{% endif %}

		{% if low_level_staff %}
		<li>
			<a class="app-menu__item" href="{% url 'maintenance:add_maintenance' %}">
				<i class="icon fa fa-plus m-2"></i>
				<span class="app-menu__label">
					Maintenance
				</span>
			</a>
		</li>
		{% endif %}
		{% if low_level_staff %}
		<li>
			<a class="app-menu__item" href="{% url 'maintenance:add_incident' %}">
				<i class="icon fa fa-plus m-2"></i>
				<span class="app-menu__label">
					Incident
				</span>
			</a>
		</li>
		{% endif %}
		{% if low_level_staff %}
		<li>
			<a class="app-menu__item" href="{% url 'animal:add_animal' %}">
				<i class="icon fa fa-plus m-2"></i>
				<span class="app-menu__label">
					Animal
				</span>
			</a>
		</li>
		{% endif %}
		{% if low_level_staff %}
		<li>
			<a class="app-menu__item" href="{% url 'food:add_animal_food' %}">
				<i class="icon fa fa-plus m-2"></i>
				<span class="app-menu__label">
					Animal Food
				</span>
			</a>
		</li>
		{% endif %}
		{% if low_level_staff %}
		<li>
			<a class="app-menu__item" href="{% url 'health:add_disease' %}">
				<i class="icon fa fa-plus m-2"></i>
				<span class="app-menu__label">
					Disease
				</span>
			</a>
		</li>
		{% endif %}
		{% if low_level_staff %}
		<li>
			<a class="app-menu__item" href="{% url 'health:add_animal_treatment' %}">
				<i class="icon fa fa-plus m-2"></i>
				<span class="app-menu__label">
					Animal Treatment
				</span>
			</a>
		</li>
		{% endif %}
	</ul>
</aside>

{% block extra_js %}

<script>
	$(function ($) {
		let url = window.location.href;
		$('aside ul li a').each(function () {
			if (this.href === url) {
				$(this).addClass('active');
				// console.log($(this).attr('class'));
				$(this).parent().parent().parent().addClass('is-expanded');
				// if ($(this).attr('class').hasClass("active")) {
				// console.log("Found!")
				// }
			}
		});
	});
</script>

{% endblock %}